# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/

# Environment variables
.env
.env.local
*.env

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# Temporary
tmp/
temp/

# AI RULES
.cursor
.beads
.sdd
.cursorrules
openspec
AGENTS.md

# Test generation
.coverage
htmlcov/
*_cache
*log*
*cache*
